body {
  background-color: #E4E2E2; }

.hero {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: flex-start;
  align-items: flex-start;
  background-image: url("../img/herodoubleoverlay.png");
  background-position: center;
  background-size: cover; }
  @media only screen and (max-width: 1030px) {
    .hero {
      background-position: 75% 0%; } }
  .hero .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 15%;
    margin-right: 125px; }
    .hero .nav ul {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 60%;
      margin-top: 40px; }
    .hero .nav li {
      text-decoration: none;
      color: #D8BFAA;
      font-size: 1.875em; }
  .hero .header {
    display: flex;
    flex-direction: column;
    height: 78%;
    width: 37%;
    align-items: flex-end;
    justify-content: center;
    margin: 1em 1.25em 0 0;
    color: #BFD1E5; }
    @media screen and (min-width: 1600px) {
      .hero .header {
        width: 38.625em; } }
    @media screen and (min-width: 1800px) {
      .hero .header {
        width: 37%; } }
    @media screen and (min-width: 2450px) {
      .hero .header {
        width: 38.625em; } }
    @media screen and (min-width: 2560px) {
      .hero .header {
        width: 42%; } }
    .hero .header .name {
      height: 10.5em;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-end; }
      .hero .header .name .first-name {
        align-self: flex-start; }
      @media screen and (min-width: 1600px) {
        .hero .header .name {
          flex-direction: row;
          align-items: flex-end;
          justify-content: space-between; }
          .hero .header .name .first-name {
            align-self: flex-end; } }
      @media screen and (min-width: 1800px) {
        .hero .header .name {
          height: 10.5em;
          width: 100%;
          flex-direction: column;
          align-items: flex-end; }
          .hero .header .name .first-name {
            align-self: flex-start; } }
      @media screen and (min-width: 2450px) {
        .hero .header .name {
          flex-direction: row;
          align-items: flex-end;
          justify-content: space-between; }
          .hero .header .name .first-name {
            align-self: flex-end; } }
      @media screen and (min-width: 2560px) {
        .hero .header .name {
          height: 10.5em;
          width: 100%;
          flex-direction: column;
          align-items: flex-end; }
          .hero .header .name .first-name {
            align-self: flex-start; } }
    .hero .header .skills {
      display: flex;
      align-self: flex-end;
      color: #D8BFAA;
      padding: 1.5em .02em 0 0; }

.intro {
  color: #2F195F;
  margin: 7% 10%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  text-align: center; }

.projects-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #2F195F;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin: 1em 1em 3.5em; }
  .projects-header .separator-line {
    height: .075em;
    width: 35%;
    margin: .5em;
    background-color: #2F195F; }
  .projects-header h3 {
    white-space: nowrap;
    overflow: none; }

.bach-to-tupac {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100vw;
  height: auto;
  position: relative;
  margin-bottom: 6em; }
  .bach-to-tupac .dropdown-content {
    opacity: 0;
    position: absolute; }
  .bach-to-tupac:hover #dark-vanilla {
    transition: all .75s ease-out;
    transform: translateX(7.4em); }
  .bach-to-tupac:hover #antiflash-white {
    transition: all .75s ease-out;
    transform: translateX(5.525em); }
  .bach-to-tupac:hover #pale-aqua {
    transition: all .75s ease-out;
    transform: translateX(3.65em); }
  .bach-to-tupac:hover #buff {
    transition: all .75s ease-out;
    transform: translateX(1.775em); }
  .bach-to-tupac:hover .dropdown-content {
    opacity: 1;
    transition: all .5s ease 1s;
    transform: translateY(3.5em); }
  .bach-to-tupac .btt-image {
    margin-left: 2em; }
    .bach-to-tupac .btt-image img {
      height: auto;
      width: 54vw;
      border-radius: .75em; }
  .bach-to-tupac .project {
    color: black;
    height: 30%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    margin: 10em 3.75em 0 3.5em; }
    .bach-to-tupac .project .colors-bar {
      width: 17.146em;
      height: .75em;
      margin-bottom: .5em; }
      .bach-to-tupac .project .colors-bar .color {
        display: inline-block;
        width: 1.75em;
        height: 100%; }
      .bach-to-tupac .project .colors-bar #violet {
        background-color: #2F195F; }
      .bach-to-tupac .project .colors-bar #buff {
        background-color: #F2D492; }
      .bach-to-tupac .project .colors-bar #pale-aqua {
        background-color: #BFD1E5; }
      .bach-to-tupac .project .colors-bar #antiflash-white {
        background-color: #EBF5EE; }
      .bach-to-tupac .project .colors-bar #dark-vanilla {
        background-color: #D8BFAA; }
    .bach-to-tupac .project .title {
      white-space: nowrap;
      overflow: none; }
      .bach-to-tupac .project .title .dropdown-content {
        display: flex;
        width: 17.188em;
        height: 5.8em;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        background-color: #E4E2E2; }
        .bach-to-tupac .project .title .dropdown-content p {
          overflow-x: visible;
          white-space: normal; }
        .bach-to-tupac .project .title .dropdown-content a {
          color: #2F195F;
          text-decoration: none; }
          .bach-to-tupac .project .title .dropdown-content a:hover {
            color: #D8BFAA; }
    .bach-to-tupac .project .tools-used {
      display: flex;
      width: 17.188em;
      justify-content: center;
      margin-top: 1em; }

.bjork {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: auto;
  position: relative; }
  .bjork .dropdown-content {
    opacity: 0;
    position: absolute; }
  .bjork .bjork-image {
    margin-left: 2em; }
    .bjork .bjork-image img {
      height: auto;
      width: 85vw;
      border-radius: .75em; }
  .bjork:hover #dark-vanilla {
    transition: all .75s ease-out;
    transform: translateX(23.063em); }
  .bjork:hover #antiflash-white {
    transition: all .75s ease-out;
    transform: translateX(17.563em); }
  .bjork:hover #pale-aqua {
    transition: all .75s ease-out;
    transform: translateX(12.063em); }
  .bjork:hover #buff {
    transition: all .75s ease-out;
    transform: translateX(6em); }
  .bjork:hover .dropdown-content {
    opacity: 1;
    transition: all .5s ease 1s;
    transform: translateY(3.5em); }
  .bjork .project {
    align-self: flex-start;
    color: black;
    height: 30%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    margin: 2em 3.75em 10em 12em; }
    .bjork .project .colors-bar {
      width: 17.146em;
      height: .75em;
      margin-bottom: .5em; }
      .bjork .project .colors-bar .color {
        display: inline-block;
        width: 1.75em;
        height: 100%; }
      .bjork .project .colors-bar #violet {
        background-color: #2F195F; }
      .bjork .project .colors-bar #buff {
        background-color: #F2D492; }
      .bjork .project .colors-bar #pale-aqua {
        background-color: #BFD1E5; }
      .bjork .project .colors-bar #antiflash-white {
        background-color: #EBF5EE; }
      .bjork .project .colors-bar #dark-vanilla {
        background-color: #D8BFAA; }
    .bjork .project .title {
      white-space: nowrap;
      overflow: none; }
      .bjork .project .title .dropdown-content {
        display: flex;
        width: 32.875em;
        height: 4.8em;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        background-color: #E4E2E2; }
        .bjork .project .title .dropdown-content p {
          overflow-x: visible;
          white-space: normal; }
        .bjork .project .title .dropdown-content a {
          color: #2F195F;
          text-decoration: none; }
          .bjork .project .title .dropdown-content a:hover {
            color: #D8BFAA; }
    .bjork .project .tools-used {
      display: flex;
      width: 32.875em;
      justify-content: center;
      margin-top: 1em; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "Hiragino Kaku Gothic Std";
  src: url("../fonts/Hiragino Kaku Gothic Std.ttf"); }
html {
  font-size: 100%; }

h1 {
  font-size: 5.250em;
  font-family: 'Comfortaa', cursive; }

h2 {
  font-size: 2.5em;
  font-family: 'Comfortaa', cursive; }

h3 {
  font-size: 1.75em;
  line-height: 1.4; }

h4 {
  font-size: 1.5em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  letter-spacing: .2em; }

li, h5 {
  font-size: 1.5em;
  font-family: 'Roboto Condensed', sans-serif; }

p {
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.2em; }

@media screen and (min-width: 1800px) {
  html {
    font-size: 1.5em; } }
@media screen and (min-width: 2560px) {
  html {
    font-size: 2em; } }
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/*# sourceMappingURL=main.css.map */
