#about-mobile-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #000016;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 3.75em;
  a {
    padding: 1em .5em .5em 2em;
    text-decoration: none;
    color: #D8BFAA;
    font-size: 28px;
    display: block;
    transition: 0.3s;
    font-family: 'Roboto Condensed', sans-serif;
    &:hover, &:active {
      color: #EBF5EE;
    }
  }
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 3.125em;
  }
  .closebtn {
    font-size: 4em;
    padding-left: .75em;
  }
}
#wrapper {
  max-width: 5120px;
  background-color: #E4E2E2;
  transition: .5s;
}
.about-header {
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  background-image: url('../img/about page lg.png');
  background-position: center 85%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  @media screen and (max-width: 900px) {
    background-position: 99% 85%;
  }
  @media screen and (max-width: 500px) {
    background-size: cover;
    background-position: 90% 50%;
  }
  .hamburger {
    color: white;
    margin: 1em 1em 0 1em;
    font-size: 3em;
    cursor: pointer;
    @media screen and (min-width: 779px) {
      display: none;
      height: 0;
      width: 0;
    }
  }
  .about-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 15%;
    font-size: 1.5em;
    margin-right: 2em;
    @media screen and (max-width: 1135px) {
      margin-right: 6.5em;
    }
    @media screen and (max-width: 852px) {
      padding-left: 2em;
    }
    @media screen and (max-width: 780px) {
      display: none;
      height: 0;
      width: 0;
    }
    ul {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 60%;
      margin-top: 2em;
      padding-left: 1em;
      @media screen and (max-width: 780px) {
        height: 70%;
      }
    }
    li a {
      text-decoration: none;
      color: #D8DCFF;
      &:hover, &:active {
        color: #EBF5EE;
      }
    }
  }
}

.qa {
  background-color: #52489C;
  color: white;
  .qa-title {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4em;
    padding-top: 4em;
    border-top: 1em solid black;
    h4 {
      line-height: 2em;
    }
    @media screen and (max-width: 575px) {
      h2 {
        line-height: 1.5em;
      }
    }
  }
  .qa-content {
    margin: 0 5em 0 5em;
    p {
      line-height: 2.5em;
      font-size: 1.2em;
    }
  }
}
.about-footer {
  background-color: #3F3047;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 6.25em;
  letter-spacing: .2em;
  color: #98B9AB;
}
