.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #000016;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 3.75em;
  a {
    padding: 1em .5em .5em 2em;
    text-decoration: none;
    color: #D8BFAA;
    font-size: 28px;
    display: block;
    transition: 0.3s;
    font-family: 'Roboto Condensed', sans-serif;
    &:hover, &:active {
      color: #EBF5EE;
    }
  }
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 3.125em;
  }
  .closebtn {
    font-size: 4em;
    padding-left: .75em;
  }
}
#wrapper {
  max-width: 5120px;
  background-color: #E4E2E2;
  transition: .5s;
}
.about-header {
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  background-image: url('../img/about page lg.png');
  background-position: 0 0;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  .about-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 10%;
    margin-right: 2em;
    @media screen and (max-width: 1135px) {
      margin-right: 6.5em;
    }
    @media screen and (max-width: 852px) {
      padding-left: 2em;
    }
    @media screen and (max-width: 780px) {
      justify-content: flex-end;
      padding: 0 0 8em 3em;
      margin-right: 2em;
    }
    @media screen and (max-width: 670px) {
      margin-right: 1em;
    }
    @media screen and (max-width: 524px) {
      display: none;
      height: 0;
      width: 0;
    }
    ul {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 60%;
      margin-top: 2em;
      padding-left: 1em;
      @media screen and (max-width: 780px) {
        height: 70%;
      }
    }
    li a {
      text-decoration: none;
      color: #D8BFAA;
      &:hover, &:active {
        color: #EBF5EE;
      }
    }
  }

  // .about-image {
  //   height: 100%;
  //   width: 90%;
  //   background-image: url('../img/about page lg.png');
  //   background-position: left;
  //   background-size: contain;
  //   background-repeat: no-repeat;
  // }
}

.about-footer {
  background-color: brown;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 6.25em;
  letter-spacing: .2em;
  color: #D8BFAA;
  img {
    height: 85%;
    width: auto;
  }
}
