#con-mobile-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #0C090D;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 3.75em;
  a {
    padding: 1em .5em .5em 2em;
    text-decoration: none;
    color: #DD99BB;
    font-size: 28px;
    display: block;
    transition: 0.3s;
    font-family: 'Roboto Condensed', sans-serif;
    &:hover, &:active {
      color: #FFF8F0;
    }
  }
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 3.125em;
  }
  .closebtn {
    font-size: 4em;
    padding-left: .75em;
  }
}

#wrapper {
  max-width: 5120px;
  background-color: #E4E2E2;
  transition: .5s;
}

.contacts-page {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100vh;
  width: 100%;
  background-color: #362C28;
  .hamburger {
    color: white;
    margin: 1em 1em 0 1em;
    font-size: 3em;
    cursor: pointer;
    @media screen and (min-width: 779px) {
      display: none;
      height: 0;
      width: 0;
    }
  }
  .contacts-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;
    width: 15%;
    margin-right: 1em;
    @media screen and (max-width: 1135px) {
      margin-right: 4em;
    }
    @media screen and (max-width: 852px) {
      padding-left: 1em;
    }
    @media screen and (max-width: 780px) {
      display: none;
      height: 0;
      width: 0;
    }
    ul {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 60%;
      margin-top: 2em;
      padding-left: 4em;
      @media screen and (max-width: 780px) {
        height: 70%;
      }
    }
    li a {
      text-decoration: none;
      color: #DD99BB;
      &:hover, &:active {
        color: #EBF5EE;
      }
    }
  }
  .contacts {
    display: flex;
    flex-direction: column;
    height: 75%;
    width: 68%;
    @media screen and (max-width: 780px) {
      width: 100%;
    }
    align-items: center;
    justify-content: center;
    margin-right: 6em;
    h2 {
      color: #FFF8F0;
      line-height: 2em;
      font-size: 3em;
      @media screen and (max-width: 1134px) {
        font-size: 3.5em;
      }
      @media screen and (max-width: 878px) {
        font-size: 3em;
      }
      @media screen and (max-width: 670px) {
        font-size: 2.5em;
      }
      @media screen and (max-width: 590px) {
        font-size: 2em;
      }
      @media screen and (max-width: 375px) {
        font-size: 1.5em
      }
    }
    a {
      text-decoration: none;
      color: #C0FDFB;
      &:hover, &:active {
        color: #598392;
      }
    }

  }
}

.contacts-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 6.25em;
  letter-spacing: .2em;
  background-color: #0C090D;
  color: #DD99BB;
}
