body {
  background-color: #E4E2E2;
}

.hero {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: flex-start;
  align-items: flex-start;
  background-image: url('../img/herodoubleoverlay.png');
  background-position: center;
  background-size: cover;
  @media only screen and (max-width: 1030px) {
    background-position: 75% 0%;
  }
  .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 15%;
    margin-right: 125px;
    ul {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 60%;
      margin-top: 40px;
    }
    li {
      text-decoration: none;
      color: #D8BFAA;
      font-size: 1.875em;
    }
  }
  .header {
    display: flex;
    flex-direction: column;
    height: 78%;
    width: 37%;
    align-items: flex-end;
    justify-content: center;
    margin: 1em 1.25em 0 0;
    color: #BFD1E5;
    @media screen and (min-width: 1600px) {
      width: 38.625em;
    }
    @media screen and (min-width: 1800px) {
      width: 37%;
    }
    @media screen and (min-width: 2450px) {
      width: 38.625em;
    }
    @media screen and (min-width: 2560px) {
      width: 42%;
    }
    .name {
      height: 10.5em;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      .first-name {
        align-self: flex-start;
      }
      @media screen and (min-width: 1600px) {
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
        .first-name {
          align-self: flex-end;
        }
      }
      @media screen and (min-width: 1800px) {
      height: 10.5em;
      width: 100%;
      flex-direction: column;
      .first-name {
        align-self: flex-start;
      }
      align-items: flex-end;
      }
      @media screen and (min-width: 2450px) {
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
        .first-name {
          align-self: flex-end;
        }
      }
      @media screen and (min-width: 2560px) {
      height: 10.5em;
      width: 100%;
      flex-direction: column;
      .first-name {
        align-self: flex-start;
      }
      align-items: flex-end;
      }
    }
    .skills {
      display: flex;
      align-self: flex-end;
      color: #D8BFAA;
      padding: 1.5em .02em 0 0;
    }
  }
}

.intro {
  color: #2F195F;
  margin: 7% 10%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  text-align: center;
}

.projects-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #2F195F;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin: 1em 1em 3.5em;
  .separator-line {
    height: .075em;
    width: 35%;
    margin: .5em;
    background-color: #2F195F;
  }
  h3 {
    white-space: nowrap;
    overflow: none;
  }
}

.bach-to-tupac {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100vw;
  height: auto;
  position: relative;
  margin-bottom: 10em;
  .dropdown-content {
    opacity: 0;
    position: absolute;
  }
  .btt-image {
    margin-left: 2em;
    img {
      height: auto;
      width: 54vw;
      border-radius: .75em;
    }
  }
  &:hover {
    #dark-vanilla {
      transition: all .75s ease-out;
      transform: translateX(7.4em);
    }
    #antiflash-white {
      transition: all .75s ease-out;
      transform: translateX(5.525em);
    }
    #pale-aqua {
      transition: all .75s ease-out;
      transform: translateX(3.65em);
    }
    #buff {
      transition: all .75s ease-out;
      transform: translateX(1.775em);
    }
    .dropdown-content {
      opacity: 1;
      transition: all .5s ease 1s;
      transform: translateY(3.5em);
    }
  }
  .project {
    color: black;
    height: 30%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    margin: 10em 3.75em 0 3.5em;
    .colors-bar {
      width: 17.146em;
      height: .75em;
      margin-bottom: .5em;
      .color {
        display: inline-block;
        width: 1.75em;
        height: 100%;
      }
      #violet {
        background-color: #2F195F;
      }
      #buff {
        background-color: #F2D492;
      }
      #pale-aqua {
        background-color: #BFD1E5;
      }
      #antiflash-white{
        background-color: #EBF5EE;
      }
      #dark-vanilla {
        background-color: #D8BFAA;
      }
    }
    .title {
      white-space: nowrap;
      overflow: none;
      .dropdown-content {
        display: flex;
        width: 17.188em;
        height: 5.8em;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        background-color: #E4E2E2;
        p {
          overflow-x: visible;
          white-space: normal;
        }
        a {
          color: #2F195F;
          text-decoration: none;
          &:hover {
            color: #D8BFAA;
          }
        }
      }
    }
    .tools-used {
      display: flex;
      width: 17.188em;
      justify-content: center;
      margin-top: 1em;
    }
  }
}

.bjork {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100vw;
  height: auto;
  position: relative;
  .dropdown-content {
    opacity: 0;
    position: absolute;
  }
  .bjork-image {
    margin-left: 2em;
    img {
      height: auto;
      width: 85vw;
      border-radius: .75em;
    }
  }
  &:hover {
    #dark-vanilla {
      transition: all .75s ease-out;
      transform: translateX(7.4em);
    }
    #antiflash-white {
      transition: all .75s ease-out;
      transform: translateX(5.525em);
    }
    #pale-aqua {
      transition: all .75s ease-out;
      transform: translateX(3.65em);
    }
    #buff {
      transition: all .75s ease-out;
      transform: translateX(1.775em);
    }
    .dropdown-content {
      opacity: 1;
      transition: all .5s ease 1s;
      transform: translateY(3.5em);
    }
  }
  .project {
    color: black;
    height: 30%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    margin: 10em 3.75em 0 3.5em;
    .colors-bar {
      width: 17.146em;
      height: .75em;
      margin-bottom: .5em;
      .color {
        display: inline-block;
        width: 1.75em;
        height: 100%;
      }
      #violet {
        background-color: #2F195F;
      }
      #buff {
        background-color: #F2D492;
      }
      #pale-aqua {
        background-color: #BFD1E5;
      }
      #antiflash-white{
        background-color: #EBF5EE;
      }
      #dark-vanilla {
        background-color: #D8BFAA;
      }
    }
    .title {
      white-space: nowrap;
      overflow: none;
      .dropdown-content {
        display: flex;
        width: 17.188em;
        height: 5.8em;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        background-color: #E4E2E2;
        p {
          overflow-x: visible;
          white-space: normal;
        }
        a {
          color: #2F195F;
          text-decoration: none;
          &:hover {
            color: #D8BFAA;
          }
        }
      }
    }
    .tools-used {
      display: flex;
      width: 17.188em;
      justify-content: center;
      margin-top: 1em;
    }
  }
}
