.hero {
  display: flex;
  height: 720px;
  width: 100vw;
  max-width: 1440px;
  justify-content: flex-start;
  position: relative;
  z-index: -2;
  :before {
    content: "";
    position: absolute;
    height: 100%;
    width: 144px;
    top: 0px;
    left: 0px;
    background-color: #2F195F;
    z-index: -1;
    // @media only screen and (1030px) {
    //   top:
    // }
  }
  .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 144px;
    z-index: 1;
    li {
      text-decoration: none;
      color: #D8BFAA;
    }
  }

  .hero-image {
    display: flex;
    height: 100%;
    width: 100%;
    max-width: 1440px;
    background-image: url('../img/hero1440.png');
    background-position: center;
    background-size: cover;
    z-index: -2;
    @media only screen and (max-width: 1030px) {
      background-position: 75% 0%;
    }
  }
}

.empty {
  height: 50px;
  width: 100vw;
  background-color: white;
}
