body {
  background-color: #ECECEC;
}

.hero {
  display: flex;
  height: 100vh;
  width: 100vw;
  // max-width: 1440px;
  justify-content: flex-start;
  align-items: flex-start;
  background-image: url('../img/herodoubleoverlay.png');
  background-position: center;
  background-size: cover;
  @media only screen and (max-width: 1030px) {
    background-position: 75% 0%;
  }
  .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 15%;
    margin-right: 125px;
    ul {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 60%;
      margin-top: 40px;
    }
    li {
      text-decoration: none;
      color: #D8BFAA;
      font-size: 1.875em;
      font-family: 'Roboto Condensed', sans-serif;
    }
  }
  .header {
    display: flex;
    flex-direction: column;
    height: 78%;
    width: 37%;
    align-items: flex-end;
    justify-content: center;
    margin: 1em 1.25em 0 0;
    .first-name {
      align-self: flex-start;
    }
    .first-name, .last-name {
      display: flex;
      color: #BFD1E5;
    }
    .skills {
      display: flex;
      align-self: flex-end;
      color: #D8BFAA;
      padding: 1.5em .02em 0 0;
    }
  }
}

.intro {
  color: #2F195F;
  margin: 7% 10%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  text-align: center;
}

.projects {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #2F195F;
  font-family: 'Comfortaa', cursive;
  margin: 1em;
  .separator-line {
    height: .10em;
    width: 35%;
    margin: .5em;
    background-color: #2F195F;
  }
  h3 {
    white-space: nowrap;
    overflow: none;
  }
}
