//Web Fonts//

@include font-face('Hiragino Kaku Gothic Std', Hiragino Kaku Gothic Std);

body {
  font-size: 100%
}

h1 {
  font-size: 5.250em;
  font-family: 'Comfortaa', cursive;
}

h2 {
  font-size: 2.5em;
  font-family: 'Comfortaa', cursive;
}

h3 {
  font-size: 1.75em;
  line-height: 1.4;
}

h4 {
  font-size: 1.5em;
}
