
html {
  font-size: 100%;
}

h1 {
  font-size: 5.250em;
  font-family: 'Comfortaa', cursive;
}

h2 {
  font-size: 2.5em;
  font-family: 'Comfortaa', cursive;
}

h3 {
  font-size: 1.75em;
  line-height: 1.4;
}

h4 {
  font-size: 1.5em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  letter-spacing: .2em;
}

li, h5 {
  font-size: 1.5em;
  font-family: 'Roboto Condensed', sans-serif;
}

p {
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.2em;
}

@media screen and (max-width: 1134px) {
  html {
    font-size: .75em;
  }
}

@media screen and (min-width: 1135px) {
  html {
    font-size: 1em;
  }
}

@media screen and (min-width: 1800px) {
  html {
    font-size: 1.5em;
  }
}

@media screen and (min-width: 2560px) {
  html {
    font-size: 2em;
  }
}

@media screen and (min-width: 3250px) {
  html {
    font-size: 2.5em;
  }
}

@media screen and (min-width: 4550px) {
  html {
    font-size: 3.5em;
  }
}

@media screen and (max-width: 413px) {
  html {
    font-size: .55em;
  }
}

@media screen and (max-height: 450px) {
  html {
    font-size: .55em;
  }
}

@media screen and (max-height: 325px) {
  html {
    font-size: .45em;
  }
}

.project {
  @media screen and (max-width: 1024px) {
    font-size: 1.2em;
  }
  @media screen and (max-width: 800px) {
    font-size: 1em;
  }
}
